

<div class="container" style="margin-left:250px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-html5"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{scratch.foodname}}</h4>
                    <p>{{scratch.foodreview}}</p>
										<p>Location:{{scratch.foodlocation}}</p>
										<p>Category:{{scratch.foodcategory}}</p>
                    <a ui-sref="scratchpad" class="btn">Back</a>
                </div>
            </div>
        </div>
